@using Microsoft.AspNetCore.Components.Sections
<SectionContent SectionName="columns">
    <button class="btn btn-primary">Click me</button>
</SectionContent>

<SectionContent SectionName="rows">
    <button class="btn btn-primary">Click me</button>
</SectionContent>


@code {

}
