@inherits LayoutComponentBase
<div>
    <a href="@Uri" class="btn btn-primary btn-sm">@ChildContent</a>
</div>
@code { 
    [Parameter]
    public string Uri { get; set; }
     
    [Parameter]
    public RenderFragment ChildContent { get; set; }

}
